<div ng-controller="RoleListController" ng-init="reset()">
    <div>
        <h1 class="h3 mb-0 text-gray-800">Role</h1>
    </div>
    <div>
        <div>
            <div>
                <form>
                    <button ng-click="addRole()" class="d-none d-sm-inline-block btn btn-sm btn-link shadow-sm">Add Role</button>
                    <br>
                    <table>
                        <tr>
                            <td colspan="3">
                                <label>Search for Grid : </label>
                            </td>
                            <td colspan="3">
                                <input type="text" ng-Model="query[Description]" class="input-xlarge">
                            </td>
                        </tr>
                    </table>
                    <div class="grid" ui-grid="gridOptions"></div>
                </form>
            </div>
        </div>
    </div>

    <!--<table border="1">
                        <tr>
                            <th colspan="2" align="center">Actions</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        <tr ng-repeat="x in myData | filter:query[Description]">
                            <td><button type="button" ng-click="edit(x.Role_ID)" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">EDIT</button></td>
                            <td><button type="button" ng-click="delete(x)" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">DELETE</button></td>
                            <td>{{x.Name | uppercase}}</td>
                            <td>{{x.Description}}</td>
                        </tr>
                    </table>-->
</div>

<style>
    .grid {
        border: 2px solid rgb(212, 212, 212);
        color: black;
        width: 500px;
        height: 20px !important;
    }

</style>
